<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>absolutePosition</key>
    <false/>
    <key>angle</key>
    <integer>90</integer>
    <key>angleVariance</key>
    <real>18.52370834350586</real>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>1</integer>
    <key>configName</key>
    <string>par_sf</string>
    <key>duration</key>
    <integer>-1</integer>
    <key>emitterType</key>
    <integer>0</integer>
    <key>finishColorAlpha</key>
    <integer>0</integer>
    <key>finishColorBlue</key>
    <real>0.34364986419677734</real>
    <key>finishColorGreen</key>
    <real>0.8002740144729614</real>
    <key>finishColorRed</key>
    <real>0.9950903058052063</real>
    <key>finishColorVarianceAlpha</key>
    <real>0.5941709280014038</real>
    <key>finishColorVarianceBlue</key>
    <integer>0</integer>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>finishParticleSize</key>
    <real>38.8505744934082</real>
    <key>finishParticleSizeVariance</key>
    <real>26.78160858154297</real>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>0</integer>
    <key>maxParticles</key>
    <integer>10</integer>
    <key>maxRadius</key>
    <integer>0</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>300</integer>
    <key>minRadiusVariance</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <real>1.488532543182373</real>
    <key>particleLifespanVariance</key>
    <real>0.4094827473163605</real>
    <key>positionType</key>
    <integer>0</integer>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>rotatePerSecond</key>
    <integer>360</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>0</integer>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>rotationStart</key>
    <integer>0</integer>
    <key>rotationStartVariance</key>
    <integer>0</integer>
    <key>sourcePositionVariancex</key>
    <integer>60</integer>
    <key>sourcePositionVariancey</key>
    <integer>25</integer>
    <key>speed</key>
    <integer>2</integer>
    <key>speedVariance</key>
    <integer>1</integer>
    <key>startColorAlpha</key>
    <real>0.6399999856948853</real>
    <key>startColorBlue</key>
    <real>0.27732449769973755</real>
    <key>startColorGreen</key>
    <real>0.7506173253059387</real>
    <key>startColorRed</key>
    <integer>1</integer>
    <key>startColorVarianceAlpha</key>
    <integer>1</integer>
    <key>startColorVarianceBlue</key>
    <integer>0</integer>
    <key>startColorVarianceGreen</key>
    <integer>0</integer>
    <key>startColorVarianceRed</key>
    <real>0.4313487708568573</real>
    <key>startParticleSize</key>
    <real>73.6551742553711</real>
    <key>startParticleSizeVariance</key>
    <real>38.87356185913086</real>
    <key>tangentialAccelVariance</key>
    <integer>0</integer>
    <key>tangentialAcceleration</key>
    <integer>0</integer>
    <key>textureFileName</key>
    <string>par_roulette_sf.png</string>
    <key>textureImageData</key>
    <string/>
    <key>yCoordFlipped</key>
    <integer>1</integer>
  </dict>
</plist>