<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>absolutePosition</key>
    <false/>
    <key>angle</key>
    <integer>360</integer>
    <key>angleVariance</key>
    <integer>360</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>772</integer>
    <key>configName</key>
    <string>par_f</string>
    <key>duration</key>
    <integer>-1</integer>
    <key>emitterType</key>
    <integer>0</integer>
    <key>finishColorAlpha</key>
    <integer>0</integer>
    <key>finishColorBlue</key>
    <real>0.021329250186681747</real>
    <key>finishColorGreen</key>
    <real>0.37410417199134827</real>
    <key>finishColorRed</key>
    <real>0.33862340450286865</real>
    <key>finishColorVarianceAlpha</key>
    <integer>0</integer>
    <key>finishColorVarianceBlue</key>
    <real>0.14291487634181976</real>
    <key>finishColorVarianceGreen</key>
    <real>0.06281429529190063</real>
    <key>finishColorVarianceRed</key>
    <real>0.20083512365818024</real>
    <key>finishParticleSize</key>
    <real>30.32</real>
    <key>finishParticleSizeVariance</key>
    <real>10.11</real>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>0</integer>
    <key>maxParticles</key>
    <integer>103</integer>
    <key>maxRadius</key>
    <integer>0</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>300</integer>
    <key>minRadiusVariance</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <real>2.048309564590454</real>
    <key>particleLifespanVariance</key>
    <real>1.4291486740112305</real>
    <key>positionType</key>
    <integer>0</integer>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>rotatePerSecond</key>
    <integer>360</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <real>-47.37</real>
    <key>rotationEndVariance</key>
    <real>623.59912109375</real>
    <key>rotationStart</key>
    <integer>0</integer>
    <key>rotationStartVariance</key>
    <integer>360</integer>
    <key>sourcePositionVariancex</key>
    <integer>388</integer>
    <key>sourcePositionVariancey</key>
    <integer>105</integer>
    <key>speed</key>
    <integer>0</integer>
    <key>speedVariance</key>
    <integer>0</integer>
    <key>startColorAlpha</key>
    <real>0.6399999856948853</real>
    <key>startColorBlue</key>
    <real>0.538087785243988</real>
    <key>startColorGreen</key>
    <real>0.6860837936401367</real>
    <key>startColorRed</key>
    <real>0.6908778548240662</real>
    <key>startColorVarianceAlpha</key>
    <real>0.78</real>
    <key>startColorVarianceBlue</key>
    <integer>0</integer>
    <key>startColorVarianceGreen</key>
    <integer>0</integer>
    <key>startColorVarianceRed</key>
    <real>0.07426364719867706</real>
    <key>startParticleSize</key>
    <real>3.37</real>
    <key>startParticleSizeVariance</key>
    <integer>64</integer>
    <key>tangentialAccelVariance</key>
    <integer>0</integer>
    <key>tangentialAcceleration</key>
    <integer>0</integer>
    <key>yCoordFlipped</key>
    <integer>1</integer>
    <key>spriteFrameUuid</key>
    <string>48c8b2df-2225-49fa-9b68-18c346b170e3</string>
  </dict>
</plist>